.leftside, .middle, .rightside {
  float: left;
  width: 300px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.innerdiv, .secondinnerdiv {
  margin: 10px 0px 10px 0px;
  border: 1px solid black;
  padding: 10px;
}

#title {
  border: 5px solid black;
  padding: 7px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.bigtitle {
  color: aqua;
}

.fruit, .veggies {
  margin: 10px;
  border: 3px black dotted;
  padding: 5px;
  display: inline-block;
}

.age {
  margin: 10px;
}

.agesubmit {
  margin: 10px;
}

#dogImage {
  margin: 10px;
  height: 300;
  width: 200;
}

#changeimage {
  background-image: url("detroit.jpg");
}

.datebutton {
  margin-top: 10px;
}
